body a, body a::after {
  color: #000;
}

body a:hover {
  text-decoration: none;
  color: #000;
}

.ee-link:hover {
  color: #fff;
}

.ee-header {
  width: 100%;
  background-color: #000;
  height: 50px;
}

.ee-logo {
  height: 50px;
  margin-left: 5px;
}

.ee-link {
  font-size: 1.5rem;
  float: right;
  margin: 15px 15px 0 0;
  color: #fff;
}

.ee-link a::after {
  color: #fff;
}

.ee-menu {
  height: 150px;
  margin-top: 3rem;
}

.ee-left-menu h3 {
  margin-top: 0;
  font-size: 2rem;
}


.v-line > hr {
margin-top: 0;
  width: 0;
  height: 120px;
  border-left: 0.5px solid #000;
}

.ee-right-menu {
  margin-right: 4rem;
}

.ee-right-menu ul {
  list-style: none;
  padding-left: 0;
}

.ee-right-menu ul li {
  word-break: keep-all;
}

.ee-right-menu h6 {
  font-size: 1rem;
}

.menu-bottom-line {
  width: 90%;
  border-bottom: 0.5px solid #000;
}

.ee-mobile-menu {
  display: none;
}

/* 內容開始 */
.content-menu {
  position: fixed !important;
  top: 40%;
  left: -1%;
  list-style: none;
  z-index: 999;
}

.content-menu-off {
  display: none;
}

.content-menu li {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.here-here {
  text-decoration: underline;
}

.arrow {
  height: 1.2rem;
}

.ee-overview {
  margin-top: 30px;
}

.first-row, .second-row, .third-row {
  margin: 30px 10%;
  display: inline-block;
}

.project-header, .project-info, .project-images, .project-image-list {
  margin-top: 50px;
}

.project-head, .project-images img, .project-image-list img {
  width: 100%;
}

.project-image-list img {
  padding-bottom: 30px;
}

.project-title {
  font-size: 2.2rem;
}

.project-awards {
  font-size: 1.2rem;
  margin-top: 10rem;
}

.project-text {
  font-size: 1.5rem;
  padding-right: 10%;
  text-align: justify;
  margin-bottom: 20px;
}

.project-text-b {
  font-size: 4rem;
  padding-right: 10%;
  margin-bottom: 20px;
}

.image-description {
  text-align: center;
  margin-top: 10px;
}

/*頁底*/

footer {
  height: 30px;
}

.footer-left, .footer-right {
  font-size: 1.7rem;
}

.footer-left {
  padding-left: 15px;
  float: left;
  color: #000;
}

.footer-right {
  margin-right: 15px;
  float: right;
  color: #000;
}

.ee-disclaimer {
  color: #D3d3d3;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  height: 20px;
}


@media screen and (max-width: 1170px) {
  .ee-right-menu {
    margin-right: 3rem;
  }

}

/*ipad畫面*/
@media screen and (max-width: 992px) {
  .ee-menu {
    height: 200px;
  }

  .ee-right-menu {
    margin-right: 2rem;
  }

  .ee-left-menu {
    margin-left: 2%;
  }

  .v-line {
    margin: 0 -1rem;

  }

  .v-line > hr {
    height: 170px;
  }


}

/*手機畫面*/
@media screen and (max-width: 768px) {
  .ee-right-menu, .v-line, .ee-overview, .menu-bottom-line {
    display: none;
  }

  .ee-menu {
    height: 150px;
  }

  .ee-mobile-menu {
    display: block;
  }

  .mobile-row {
    border-top: 1px solid black;
    height: 7rem;
    padding-top: 2rem;
  }

  .mobile-row:last-child {
    border-bottom: 1px solid black;
  }

  .mobile-list h6 {
    font-size: 10px;
    margin-left: 15px;
  }

  .mobile-row p {
    padding-top: 0.5rem;

  }

  .mobile-row span {
    font-size: 20px;
    margin-left: -5px;
    padding-right: 0;

  }

  .mobile-list {
    margin: 2rem 0;
  }

  .mobile-row img {
    float: right;
    margin-top: -0.5rem;
    max-height: 4rem;
    width: auto;
  }

  .mobile-row img:nth-child(4) {
    margin-right: -2rem;
  }

  .project-awards {
    margin-top: 0rem;
  }

  #content-menu, .content-mobile-off {
    display: none;

  }

  .project-text-b {
    font-size: 2rem;
  }



}

/*------iPhone SE-----*/
@media screen and (max-width: 344px) {

  .mobile-row img {
    display: none;
  }

  .mobile-row span {
    width: 80%;
    text-align: right;
  }

}
