body {
  scroll-behavior: smooth;
}

body a, body a::after {
  color: #000;
}

body a:hover {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
}

.ee-link:hover {
  color: #fff;
}

.ee-right-menu a:hover, .project-text a:hover, .project-awards a:hover{
  font-style: italic;
}

.container-fluid, .container,  {
  padding: 0;
}

.ee-header {
  position: fixed !important;
  width: 100%;
  background-color: #000;
  height: 50px;
  z-index: 999;
  top: 0;
}

.ee-logo {
  height: 50px;
  margin-left: 5px;
}

.ee-link {
  font-size: 16px;
  float: right;
  margin: 14px 15px 0 0;
  color: #fff;
}

.ee-link a::after {
  color: #fff;
}

.ee-link:nth-child(3), .ee-link:nth-child(4) {
  margin-right: 50px;
}

.ee-menu {
  height: 150px;
  margin-top: 80px;
  padding: 0px;
}

.ee-left-menu h3 {
  margin-top: 0;
  font-size: 2rem;
}


.v-line > hr {
  margin-top: 0;
  width: 0;
  height: 120px;
  border-left: 0.5px solid #000;
}

.ee-right-menu {
  margin-right: 3.6rem;
}

.ee-right-menu ul, .ee-bottom-menu ul {
  list-style: none;
  padding-left: 0;
}

.ee-right-menu ul li, .ee-bottom-menu ul li  {
  word-break: keep-all;
}

.ee-right-menu h6, .ee-bottom-menu h6 {
  font-size: 1rem;
}

.ee-bottom-menu {
  margin-right: 1rem;
  margin-top: 5px;
  margin-bottom: 25px;
}

.ee-bottom-menu-wrap {
  margin: 30px 0;
}

.menu-bottom-line {
  width: 90%;
  border-bottom: 0.5px solid #000;
}

.ee-mobile-menu {
  display: none;
}

/* 內容開始 */

#sec-1 {
  margin-top: 10%;
}

#thumbnails a:hover{
  cursor: crosshair;
}

.lang-change {
  font-size:10px;
  margin-bottom:2rem;
}

.lang-change:hover {
  cursor: pointer;
}


.content-menu {
  position: fixed !important;
  top: 40%;
  left: -1%;
  list-style: none;
  z-index: 999;
  animation: move-in-h ease 1s;
}

.content-menu-off {
  display: none;
}

.content-menu li {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  opacity: 0.1;
}

.here-here {
  opacity: 1 !important;
}

.here-here::before {
  content: "";
}


.content-menu li:hover {
  opacity: 1;
  font-style: italic;
}

.arrow {
  height: 1.2rem;
}

.ee-overview {
  margin-top: 30px;
}

.move-in-A{
  animation: move-in linear 1s;
}

.move-in-B{
  animation: move-in ease 0.77s;
}

.move-in-C{
  animation: move-in ease-out 1.2s;
}

.index-row {
  margin: 30px 10%;
  display: inline-block;
}

.project-head {
  animation: move-in ease 0.8s;
}

.project-header h6 {
  animation: move-in ease-in 0.9s;
}

.project-header, .project-info, .project-images, .project-image-list {
  margin-top: 50px;
}

.project-head, .project-images img, .project-image-list img, .project-image-list-sp img  {
  width: 100%;
  cursor: zoom-in;
}

.project-image-list img {
  padding-bottom: 30px;
}

.project-image-list-sp {
  padding-bottom: 30px;
}

.project-title {
  font-size: 2.6rem;
  margin-top: -5px;
}

.project-awards, .mtrl-info {
  font-size: 1.3rem;
}

.project-awards {
  margin-top: 40%;
  animation: move-in ease-in 1s;
}

.mtrl-info {
  position: absolute;
  left: calc(100% + 15px);
  bottom: -12px;
  font-style: italic;
  white-space: nowrap;
  padding: 0;

}

.project-text {
  font-size: 1.5rem;
  padding-right: 10%;
  text-align: justify;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.project-text-b {
  font-size: 4rem;
  padding-right: 10%;
  margin-bottom: 20px;
}

.image-description {
  text-align: center;
  margin-top: 10px;
}

.big-img-wrap {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index:9999;
  top: 50px;
  left: 0;
}

.big-img {
  width: auto;
  display: block;
  height: 100%;
  margin: 0 auto;
  cursor: zoom-out;
  object-fit: cover;
  object-position: center;
}

.close-cross {
  position: fixed;
  width: 20px;
  right: 44px;
  Top: 70px;
}

.close-cross:hover {
  cursor: default;
}

.award-link:hover {
  text-decoration: underline;
}

.exhi-sec {
  margin-top:6%;
}


/*頁底*/

footer {
  height: 30px;
}

.ee-footer {
  position: fixed !important;
  bottom: 10px;
  z-index: 99;
}

.footer-icon {
  height: 17px;
}

.footer-left, .footer-right {
  font-size: 16px;
}

.footer-left:hover, .footer-right:hover {
  transform: scale(1.5);
  transform-origin: center, left;
  transition: 1s;
}

.footer-left {
  padding-left: 15px;
  float: left;
  color: #000;
}

.footer-right {
  margin-right: 15px;
  float: right;
  color: #000;
  place-self: end;

}

.ee-disclaimer {
  color: #D3d3d3;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  height: 20px;
  margin: 10px 0 20px 0;
  padding-bottom: 3px;
}


@media screen and (max-width: 1170px) {
  .ee-right-menu {
    margin-right: 3rem;
  }

}

/*ipad畫面*/
@media screen and (max-width: 992px) {
  p, li {
  font-size: 13px;
  }

  .ee-menu {
    height: 200px;
  }

  .ee-right-menu {
    margin-right: 4.2rem;
    padding: 0;
  }

  .ee-left-menu {
    margin-left: 2%;
  }

  .v-line {
    margin: 0 -2rem;
    padding: 0;

  }

  .v-line > hr {
    height: 170px;
  }


}

/*手機畫面*/
@media screen and (max-width: 768px) {
  #content-menu, .ee-right-menu, .v-line, .ee-overview, .ee-bottom-menu-wrap, .content-mobile-off {
    display: none;
  }

  .ee-left-menu {
  margin-bottom: 20%;
  }

  .menu-bottom-line {
    width: 100%;
    margin-bottom: 5%;
  }

  .project-text {
    text-align: left;

  }

  .project-header, .project-info, .project-images, .project-image-list {
    margin-top: 20px;
  }

.ee-header {
  top: 0;
}

  .ee-menu {
    height: 150px;
  }

  .ee-mobile-menu {
    display: block;
    animation: move-in ease 1s;
  }

  .mobile-row {
    border-top: 1px solid black;
    height: 7rem;
    padding-top: 2rem;
  }

  .mobile-row:last-child {
    border-bottom: 1px solid black;
  }

  .mobile-list h6 {
    font-size: 10px;
    margin-left: 15px;
  }

  .mobile-row p {
    padding-top: 0.5rem;

  }

  .mobile-row span {
    font-size: 20px;
    margin-left: -5px;
    padding-right: 0;
  }

  .mobile-list {
    margin: 2rem 0;
  }

  .mobile-row img {
    float: right;
    margin-top: -0.5rem;
    max-height: 4rem;
    width: auto;
  }

  .mobile-row img:nth-child(4) {
    margin-right: -2rem;
  }

  .project-title {
    font-size: 1.9rem;
    font-weight: 500;
  }


  .project-text-b {
    font-size: 2rem;
  }

  .big-img {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
  }

  .ee-footer {
    background-color: #fff;
    height: 50px;
    bottom: 0;
  }

  .footer-left, .footer-right {
    margin-top:15px;
  }

  .ee-disclaimer {
    margin: 20px 0 12px 0;
    z-index: 99999;
  }


}

/*------iPhone SE-----*/
@media screen and (max-width: 344px) {

  .mobile-row img {
    display: none;
  }

  .mobile-row span {
    width: 80%;
    text-align: right;
  }

}
