@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,300;1,400;1,600&display=swap');

html,
 body {
     font-family: 'Nunito Sans', Avenir, sans-serif !important;
     font-size: 12px;
     margin: 0;
     width: 100%;
 }

 a:focus,
 a:linked,
 a:hover {
     background-color: white;
     color: black;
 }


 header {
     display: inline-block;
     text-align: center;
     width: 100%;
     animation: move-in ease 1s;
 }

 .nav {
     margin-top: 8rem;
     display: none;
 }


 .nav-fixed {
     display: block;
     position: fixed;
     top: 3%;
     left: 3%;
     z-index: 77;
 }

 .logo-fixed {
     margin-top: 0;
     font-size: 5rem;
     text-align: center;
     position: fixed;
     z-index: 77;
     top: 3%;
     left: 3%;
 }

 .nav-item > a {
     color: #bdbdbd;
     letter-spacing: 0.3rem;
     margin-right: 2rem;
     transition: 0.2s;
     padding: 0 0 1.2rem 0.5rem !important;
 }


 .nav-link:hover {
     border-bottom: 3px solid #006699;
     background-color: transparent !important;
     color: black;
 }


 header > h1 {
     margin-top: 20rem;
     font-size: 17rem;
     color: #424242;
     text-align: center;
     font-weight: 600;
     
 }

 header > p {
     font-size: 2rem;
     color: #bdbdbd;
     text-align: center;
     letter-spacing: 0.3rem;
 }

.content{
    margin-top: 17rem;
}

/*-----portfolio-----*/
#portfolio{
    width: 90%;
    margin-left: 15rem;
    margin-top: 35rem;
}

#portfolio a img{
    margin: 0 3rem 3rem 0;
}
/*-----about-----*/
#about{
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

#about h3{
    margin-bottom: 2rem;
}

#about h6{
    color: #666666;
}

/*-----Skills------*/
#skills{
    width: 810px;
}
#skills ul:first-child{
    margin-left: -5.5rem;
}

#skills ul{
    width: 270px;
    list-style: none;
    word-break: keep-all;
    margin-right: 5rem;
    
}

#skills ul li{
    margin-bottom: 1.7rem;
}

/*-----adventures-----*/
#adventures h3{
    margin-bottom: 2rem;
}

.ad-imgs img{
    margin-top: 3rem;
}

/*-----reading-----*/
#reading h3{
    margin-bottom: 2rem;
}

#reading > span > span:first-child{
    display: none;
}

#reading span{
    border-radius: 0px;
    box-shadow: 0px 0px;
}

/*-----contact-----*/
#contact{
    margin-bottom: 12rem;
}

#contact h5{
    font-size: 1.5rem;
}

#contact a{
    display: inline-block;
    margin-right: 5rem;
    color: #000;
}

#contact p{
    margin-top: 10px;
}

/*-----RWD-----*/
@media screen and (max-width: 992px){
    header > h1{
        margin-top: 10rem; 
    }
    #skills{
        width: 100%;
    }
}
