<!-- project頁尾資訊 -->
<footer class="ee-footer col-md-12 col-xs-12">
  <div class=" ee-footer-links">
    <a class="footer-left" href="https://www.instagram.com/ercoffice_by_ercolai/"><img src="imgs/contact.svg" class="footer-icon"></a>
    <a class="footer-right" id="gotop" href="#top"><img src="imgs/top.svg" class="footer-icon"></a>
  </div>
</footer>

<div class="ee-disclaimer col-md-12 col-xs-12" style="margin-top:30px;">
  <p>©by ercoffice / 2024</p>
</div>

<!-- 內容左選單 -->
<script src="js/pop_up_left_menu.js"></script>
<!-- 回到頂 -->
<script src="js/backToTop.js"></script>
<!-- 放大圖片功能 -->
<script src="js/enlargeImg.js"></script>
<!-- 中文切換 -->
<script src="js/langTW.js"></script>