<!-- Header開始 -->
<div class="ee-header col-md-12">
  <a href="index"><img class="ee-logo" src="imgs/header.svg"></img></a>
  <a class="ee-link" href="Info">About</a>
</div>

<!-- Header 選單開始 -->
<div class="ee-menu col-lg-12 col-md-12 col-sm-12">
  <div class="ee-left-menu col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-xs-12">
    <h3 class="studio-title">ercoffice</h3>
    <p class="studio-intro">A material-driven design office focusing on craft, object and space.
      Meanwhile, imaging what future manufacturing system can be. It is run by Erco Lai and based in The Hague, NL.
    </p>
  </div>

  <div class="v-line col-lg-1 col-md-1 col-sm-1">
    <hr>
  </div>

  <!-- 金 -->
  <div class="ee-right-menu col-lg-1 col-md-1 col-sm-1">
    <h6 class="menu-title">Metal</h6>
    <ul>
      <a href="Rift">
        <li>Rift</li>
      </a>
      <a href="Waterfall">
        <li>Waterfall</li>
      </a>
      <a href="Asterisk">
        <li>Asterisk</li>
      </a>
      <a href="Hopper">
        <li>Hopper</li>
      </a>
    </ul>
  </div>

  <!-- 地 -->
  <div class="ee-right-menu col-lg-1 col-md-1 col-sm-1">
    <h6 class="menu-title">Earth</h6>
    <ul>
      <a href="Fieldstone">
        <li>Fieldstone</li>
      </a>
      <a href="Mineralloop">
        <li>Mineralloop</li>
      </a>
      <a href="Neo-Stone-Age">
        <li>Neo&#160;Stone&#160;Age</li>
      </a>
      <a href="Binary-jugs">
        <li>Binary&#160;jugs</li>
      </a>
    </ul>
  </div>

  <!-- 木 -->
  <div class="ee-right-menu col-lg-1 col-md-1 col-sm-1">
    <h6 class="menu-title">Wood</h6>
    <ul>
      <a href="Ginkgo">
        <li>Ginkgo</li>
      </a>
      <a href="Tomaat">
        <li>Tomaat</li>
      </a>
      <a href="Ikebana">
        <li>Ikebana</li>
      </a>
    </ul>
  </div>

  <!-- 火 -->
  <div class="ee-right-menu col-lg-1 col-md-1 col-sm-1">
    <h6 class="menu-title">Fire</h6>
    <ul>
      <a href="Magma">
        <li>Magma</li>
      </a>
      <a href="Lava-and-">
        <li>Lava&#160;and...</li>
      </a>
    </ul>
  </div>

  <!-- 水 -->
  <div class="ee-right-menu col-lg-1 col-md-1 col-sm-1">
    <h6 class="menu-title">Water</h6>
    <ul>
      <a href="Tafoni">
        <li>Tafoni</li>
      </a>
      <a href="Biorock">
        <li>Biorock</li>
      </a>
      <a href="Revolve">
        <li>Revolve</li>
      </a>
    </ul>
  </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
  <hr class="menu-bottom-line" />
</div>

<!-- 放大圖片 -->
<div id="divCenter" onclick="picClose();" class="big-img-wrap">
  <span class="close-cross"><img src="imgs/cross.svg"></span>
  <img id="bigImg" class="big-img" src="" />
</div>

<!--移除自身<li>-->
<script src="js/removeListByTitle.js"></script>